---
import navigate from '../components'
import '../styles/global.css'
const siteName = "Kaidence's Digital Garden"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kaidence's Digital Garden</title>
	</head>
	<body>
		<h1>Kaidence's Digital Garden</h1>
		       <nav> 
        <a href="/"></a>
        <a href="about">About</a>
        <a href="portfolio">portfolio</a>
		</nav>
		<p>about me</p>
{skills.map((skill) => 
<li>{skill}</li>
)}
	</body>
</html>
