---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kaidence's Digital Garden</title>
	</head>
	<body>
		<h1>Kaidence's Digital Garden</h1>
		<navigation />
        <a href="/"></a>
        <a href="about">About</a>
        <a href="portfolio">portfolio</a>
		<a href="/blog/">Blog</a>
		<navigation />
		<p>about me</p>
{skills.map((skill) => 
<li>{skill}</li>
)}
 <header />
    <footer />
	<script>
		document.querySelector('.hamburger').addEventListener('click', () => {
		  document.querySelector('.nav-links').classList.toggle('expanded');
		});

		import "../scripts/menu.js";
	  </script>
</body>
</html>
