---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Body of Work</title>
	</head>
	<body>
		<h1>Portfolio</h1>
        <nav> 
        <a href="/"></a>
        <a href="portfolio">portfolio</a>
        <a href=""></a>
        <p> All the stuff I've done. </p>
	</body>
</html>
