---
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Body of Work</title>
	</head>
	<body>
		<h1>Portfolio</h1>
        <nav> 
        <a href="/"></a>
        <a href="portfolio">Portfolio</a>
        <a href=""></a>
		<a href="/blog/">Blog</a>
        <p> All the stuff I've done. </p>
		<Footer />
	</body>
  </html>
